/*reset cơ bản*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* chặn scroll ngang */
  scroll-behavior: smooth;
}

a {
  color: inherit; /*chữ k bị chuyển tím*/
  text-decoration: none; /* bỏ dấu chấm ở đầu của thẻ li */
}

body {
  font-family: "Rubik", sans-serif;
}
